---
export interface CardProps {
  imageSrc: string;
  title: string;
  date: string;
  link: string;
}

const { imageSrc, title, date, link } = Astro.props;
---

<a href={link} class="card">
  <div class="card-image">
    <img src={imageSrc} alt={title} />
  </div>
  <div class="card-content">
    <h2>{title}</h2>
    <p>{date}</p>
  </div>
</a>

<style>
  .card {
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: box-shadow 0.3s ease;
  }

  .card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .card-image img {
    width: 100%;
    border-radius: 8px;
    height: auto;
    display: block;
  }

  .card-content {
    padding: 16px;
    text-align: center;
  }

  .card-content h2 {
    margin: 0 0 8px;
    font-size: 1.5rem;
  }

  .card-content p {
    margin: 0;
    color: #5d5d5d;
    background: #a6bad2;
    border-radius: 10px;
    display: inline;
    font-size: 1.125rem;
  }
</style>